@namespace WEB_253504_VILKINA.BLAZORWASM.Components
@using WEB_253504_VILKINA.DOMAIN.Entities
@inject IDataService DataService

@if (!DataService.Success)
{
    <p><em>Error: @DataService.ErrorMessage</em></p>
}
else if (DataService.Jewelries.Count == 0)
{
    <p>No jewelry available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var j in DataService.Jewelries)
            {
                <tr>
                    <td>@j.Description</td>
                    <td>
                        <button class="btn btn-primary" @onclick="() => JewelrySelected.InvokeAsync(j.Id)">
                            Details
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@implements IDisposable

@code {
    [Parameter]
    public EventCallback<int> JewelrySelected { get; set; }

    protected override void OnInitialized()
    {
        DataService.DataLoaded += StateHasChanged;
    }

    public void Dispose()
    {
        DataService.DataLoaded -= StateHasChanged;
    }
}
