@using WEB_253504_VILKINA.DOMAIN.Models
@model ProductListModel<Jewelry>

@{
    ViewBag.Title = "Catalog";
    var request = ViewContext.HttpContext.Request;
    var returnUrl = request.Path + request.QueryString.ToUriComponent();

    var currentCategory = request.Query["category"].ToString();
}

<h1>@ViewBag.Title</h1>


<div class="col-2 border-2">
    <ul class="nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"
               data-bs-toggle="dropdown"
               href="#"
               role="button"
               aria-expanded="false">
                @ViewBag.CurrentCategory
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                       asp-controller="Product"
                       asp-route-category=@null>All</a>
                </li>
                @foreach (var item in ViewBag.Categories)
                {
                    <li>
                        <a class="dropdown-item"
                           asp-controller="Product"
                           asp-route-category="@item.NormalizedName">
                            @item.Name
                        </a>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>

<div id="product-container">
    @await Html.PartialAsync("_ProductPartial", Model)
</div>
